extends layout.pug

block content
    div.bg-img-home.img-fluid

    div.quote-cont
        div.border.border-3.border-white.bg-light.opacity-50.w-50
            h1.display-1.text-dark Among famous traitors of history
            h3.display-1.text-dark one might mention the weather.
    div.quote-thought
        div.border.border-3.border-white.bg-light.opacity-50.w-50
            h3.display-1.text-dark  Know your
            h3.display-1.text-dark destination's weather
            h3.display-1.text-dark  before landing.